#!/bin/bash

cd {{ CKAN_HOME }}
cd src/ckan
source ../../bin/activate
pip install -r requirements.txt
pip install -r dev-requirements.txt
pip install -r requirement-setuptools.txt
pip install --ignore-installed mock bs4 httpretty pycodestyle factory
andino_test_core=$(find / -name test-core.ini | grep gobar_theme)
echo "Path del test-core.ini de portal-andino-theme: $andino_test_core"
python setup.py develop
export PGUSER=ckan
export PGPASS=ckan
export PGHOST=db
export PGPASSWORD=ckan
psql -c "CREATE USER ckan_default WITH PASSWORD 'pass';"
psql -c "CREATE USER datastore_default WITH PASSWORD 'pass';"
psql -c 'CREATE DATABASE ckan_test WITH OWNER ckan_default;'
psql -c 'CREATE DATABASE datastore_test WITH OWNER ckan_default;'

paster datastore -c $andino_test_core set-permissions | psql
cd {{ CKAN_HOME }}/src/ckan
paster db init -c $andino_test_core
