#!/bin/bash

echo "Inicializando tests"
cd {{ CKAN_HOME }}
cd src/ckan
pip install -r requirements.txt
pip install -r dev-requirements.txt
pip install -r requirement-setuptools.txt
pip install --ignore-installed mock bs4 httpretty pycodestyle factory nose
echo "Lugares con requirements.txt: $(find / -name requirements.txt)"
pip install -r {{ CKAN_HOME }}/src/ckanext-gobar-theme/requirements.txt
pip install -r {{ CKAN_HOME }}/src/ckanext-dcat/requirements.txt
echo "Instalo dcat a mano"
pip install -e git+https://github.com/ckan/ckanext-dcat.git@9709ab5771856303e5ac80bd0f7759ab47d99678#egg=ckanext-dcat
pip install -e git+https://github.com/datosgobar/ckanext-seriestiempoarexplorer.git@0.1.7#egg=ckanext-seriestiempoarexplorer
$(find / -name setup.py | grep gobar-theme) develop
andino_test_core=$(find / -name test-core.ini | grep gobar_theme)
echo "Path del test-core.ini de portal-andino-theme: $andino_test_core"
python setup.py develop
export PGUSER=ckan
export PGPASS=ckan
export PGHOST=db
export PGPASSWORD=ckan
psql -c "CREATE USER ckan_default WITH PASSWORD 'pass';"
psql -c "CREATE USER datastore_default WITH PASSWORD 'pass';"
psql -c 'CREATE DATABASE ckan_test WITH OWNER ckan_default;'
psql -c 'CREATE DATABASE datastore_test WITH OWNER ckan_default;'

echo "Corriendo inicialización del datastore"
paster datastore -c $andino_test_core set-permissions | psql
cd {{ CKAN_HOME }}/src/ckan
echo "Corriendo inicialización de la base de datos"
paster db init -c $andino_test_core
