#!/bin/bash
cd {{ CKAN_INIT }}/tests/
./run_solr4.sh
./init_tests.sh


./run_tests.sh
cd {{ CKAN_HOME }}
source bin/activate
bin/paster serve src/ckan/test-core.ini &
sleep 5
cd {{ CKAN_INIT }}/tests/
./run_testsjs.sh

solr4pid=$(ps | grep java | awk '{print $1}')
if [ -n "$solr4pid" ]; then
    kill $solr4pid
fi
