#!/bin/bash
echo "Preparando los tests de CKAN"
cd {{ CKAN_INIT }}/tests/
./run_solr4.sh
./init_tests.sh

./run_tests.sh
cd {{ CKAN_HOME }}
bin/paster serve $andino_test_core &
sleep 5
cd {{ CKAN_INIT }}/tests/
./run_testsjs.sh

fuser 8983/tcp -k #Solr4
fuser 5000/tcp -k #test server
