#!/bin/bash

cd {{ CKAN_HOME }}/src/ckan
source ../../bin/activate
pip install --ignore-installed mock bs4 httpretty pycodestyle factory
nosetests --ckan --reset-db --with-pylons=$andino_test_core --nologcapture --with-coverage --cover-package=ckan --cover-package=ckanext ckan ckanext

