#!/bin/bash

cd {{ CKAN_HOME }}/src/ckan
source ../../bin/activate
nosetests --ckan --reset-db --with-pylons=test-core.ini --nologcapture --with-coverage --cover-package=ckan --cover-package=ckanext ckan ckanext

