#!/bin/sh
if [ -z "$1" ]; then
    echo "You must pass the new admin's username as a parameter."
    exit 1;
fi

if [ -z "$2" ]; then
    echo "You must pass the new admin's email as a parameter."
    exit 1;
fi

new_admin="$1";
admin_email="$2";

{{ CKAN_HOME }}/bin/paster --plugin=ckan sysadmin add $new_admin email=$admin_email -c /etc/ckan/default/production.ini
