#!/usr/bin/env bash
current_dir="$(dirname "$0")"

config_file="/etc/ckan/default/production.ini";

touch google_analytics_keys.ini

echo -e "googleanalytics.id = " > google_analytics_keys.ini
{{ CKAN_HOME }}/bin/paster --plugin=ckan config-tool $config_file -s app:main -f google_analytics_keys.ini
echo -e "googleanalytics.account = " > google_analytics_keys.ini
{{ CKAN_HOME }}/bin/paster --plugin=ckan config-tool $config_file -s app:main -f google_analytics_keys.ini
echo -e "googleanalytics_resource_prefix = /downloads/" > google_analytics_keys.ini
{{ CKAN_HOME }}/bin/paster --plugin=ckan config-tool $config_file -s app:main -f google_analytics_keys.ini
echo -e "googleanalytics.domain = auto" > google_analytics_keys.ini
{{ CKAN_HOME }}/bin/paster --plugin=ckan config-tool $config_file -s app:main -f google_analytics_keys.ini

"$current_dir/change_google_analytics_account.sh" "UA-100603353-1" "Test Datosgobar"

rm google_analytics_keys.ini
