#!/usr/bin/env bash
current_dir="$(dirname "$0")"
config_file="/etc/ckan/default/production.ini";

sed -i '/ckan.plugins =/ s/$/\ \googleanalytics/' $config_file
sed -i '/\[app:main\]/a ## Google Analytics\' $config_file
sed -i '/## Google Analytics/a googleanalytics.id = ' $config_file
sed -i '/## Google Analytics/a googleanalytics_resource_prefix = /downloads/' $config_file
sed -i '/## Google Analytics/a googleanalytics.domain = auto' $config_file

"$current_dir/change_google_analytics_account.sh" "UA-100603353-1"
