#!/usr/bin/env bash

if [ -z "$1" ]; then
    echo "You must pass the Google Analytics' account id as a parameter."
    exit 1;
fi

account_id="$1";

{{ CKAN_HOME }}/bin/paster --plugin=ckan config-tool /etc/ckan/default/production.ini -e \
                                    "googleanalytics.id = $account_id"
