#!/usr/bin/env bash
current_dir="$(dirname "$0")"
config_file="{{ CKAN_CONFIG }}/{{ CKAN_CONFIG_FILE }}";

if ! grep '\googleanalytics$' $config_file ; then
    sed -i '/ckan.plugins =/ s/$/\ \googleanalytics/' $config_file
fi

if ! grep '## Google Analytics' $config_file ; then
    sed -i '/\[app:main\]/a ## Google Analytics\' $config_file
fi

if ! grep 'googleanalytics.id = ' $config_file; then
    sed -i '/## Google Analytics/a googleanalytics.id = UA-101681828-1' $config_file
fi

if ! grep 'googleanalytics_resource_prefix = ' $config_file; then
    sed -i '/## Google Analytics/a googleanalytics_resource_prefix = /downloads/' $config_file
fi

if ! grep 'googleanalytics.domain = ' $config_file; then
    sed -i '/## Google Analytics/a googleanalytics.domain = auto' $config_file
fi
