#!/usr/bin/env bash
config_file="/etc/ckan/default/production.ini";

if [[ -z $(grep "ckan.plugins" /etc/ckan/default/production.ini | grep datapusher) ]] ; then

    # Añadimos el plugin a la lista y sacamos xloader
    sed -i '/ckan.plugins[[:space:]]*=/s/googleanalytics/datapusher googleanalytics/' $config_file
    sed -i '/ckan.plugins[[:space:]]*=/s/ xloader / /' $config_file

    # Levantamos el worker de Datapusher
    sudo a2ensite datapusher

    # Reemplazamos el comando a utilizar para subir los recursos al Datastore
    crontab -u www-data -l | sed '/# datastore - submit_all/s/--plugin=ckanext-xloader xloader submit all/--plugin=ckan datapusher submit_all/' | crontab -u www-data -

    # Restart de apache y supervisor
    apachectl restart
    supervisorctl restart all

fi
