¡Hola {{ user_name }}!,

Hemos detectado que estás teniendo inconvenientes para iniciar sesión.
Como medida de seguridad, hemos bloqueado por 2 horas el login al Portal.

Si querés resetear tu clave, entrá al siguiente enlace y hacé click en "Olvidé mi contraseña": {{ site_url }}/ingresar.

¡Suerte y a abrir datos!

El equipo de {{ site_title }}