¡Hola {{ user_name }}!,

Hemos detectado que estás teniendo inconvenientes para iniciar sesión.
Como medida de seguridad, hemos bloqueado por 2 horas el login al Portal.

Si querés resetear tu clave, hacé click acá: {{ site_url }}.

¡Suerte y a abrir datos!

El equipo de {{ site_title }}