[
"ARS corrientes",
"ARS",
"ARS/USD",
"Australes",
"Automóviles",
"Becas",
"Beneficiarios",
"Cabezas",
"Cantidad de pasajeros",
"Centavos de dólar por kilogramo",
"Coeficiente",
"Empresas",
"GWh",
"Grados centígrados",
"Habitantes",
"Hectáreas",
"Kbbl/d",
"M3",
"MW",
"Metros cúbicos",
"Metros",
"Miles de M2",
"Miles de USD CIF",
"Miles de USD FOB",
"Miles de UTEq",
"Miles de cabezas",
"Miles de dólares FOB",
"Miles de hectolitros",
"Miles de litros",
"Miles de litros",
"Miles de llamadas",
"Miles de líneas",
"Miles de metros cúbicos",
"Miles de minutos",
"Miles de pasajeros",
"Miles de pasajes",
"Miles de personas",
"Miles de teléfonos",
"Miles de toneladas",
"Miles de unidades",
"Miles de vehículos",
"Millones de Litros",
"Millones de USD corrientes",
"Millones de USD de 2004",
"Millones de USD",
"Millones de cabezas",
"Millones de dólares de 1993",
"Millones de metros cúbicos",
"Millones de paquetes",
"Millones de pesos a precios de 1993",
"Millones de pesos a precios de 2004",
"Millones de pesos corrientes",
"Millones de pesos",
"Millones de unidades",
"Paquetes de 20 unidades",
"Pasajeros",
"Pasajes",
"Personas por sala",
"Personas",
"Porcentaje de hogares",
"Porcentaje de población",
"Porcentaje del PBI",
"Porcentaje del total de exportaciones",
"Porcentaje",
"Pozos",
"Prestaciones",
"Puestos de trabajo",
"Reales por dólar",
"Reales",
"Salas",
"Tasa",
"Toneladas",
"USD corrientes",
"USD corrientes",
"USD por tonelada",
"USD",
"USD/GBP",
"USD/KG",
"USD/M3",
"USD/millón de BTU",
"Unidades",
"Variación interanual",
"Variación intermensual",
"Variación mensual",
"Variación porcentual",
"Índice 17 Diciembre 2015 = 100",
"Índice 1993 = 100",
"Índice 1997 = 100",
"Índice 1999 = 100",
"Índice 2004 = 100",
"Índice 2005 = 100",
"Índice 2012 = 100",
"Índice Abril 2008 = 100",
"Índice Diciembre 2001 = 100",
"Índice Diciembre 2016 = 100",
"Índice Noviembre 2015 = 100"
]
